.rowInvocador .div_img_invocador{
    position: relative;
}

.div_img_invocador .div_lvl_invocador{
    position: absolute; 
    color: white;
    background-color: rgb(32, 45, 55); 
    border-radius: 20px; 
    height: 26px; 
    margin: 120px 0 0 40px;
}

.div_lvl_invocador .spanInvocadorLvl{
    display: inline-block; 
    line-height: 20px; 
    padding: 0px 8px; 
    font-size: 12px; 
    border-radius: 10px; 
    color: rgb(255, 255, 255); 
    background-color: rgb(32, 45, 55); 
    font-family: Roboto, "sans-serif";
}

.div_img_invocador img{
    border-radius: 20px;
    width: 130px;
    height: auto;
}
.rowInvocador .nomeInvocador h3{
    color: var(--text-color);
}

.rowInvocador .nomeInvocador span{
    color: var(--bs-gray-500);
    font-weight: normal;
}